.date-time--container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.clickable {
	cursor: pointer;
	pointer-events: all;
}
.date {
}

.time {
}

button {
	background-color: transparent;
	border: 0;
	color: var(--white);
	font-family: Metropolis, sans-serif;
	font-size: inherit;
	font-weight: 300;
	letter-spacing: 0.02em;
	line-height: 150%;
	padding: 0;
}

.time-controls--container {
	background: linear-gradient(180deg, #272527, rgba(37, 37, 39, 0.8) 52.08%, rgba(37, 37, 39, 0));
	border: 1px solid rgba(255, 255, 255, 0.05);
	border-bottom: none;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);

	position: absolute;
	bottom: 0;
	left: 50%;
	width: min(40vw, 300px);
	transform: translateX(-50%);
	display: grid;
	gap: 2rem;
	padding: 1rem 2rem;
	border-radius: 10px 10px 0 0;
}
.rate-controls {
	display: flex;
	gap: 1rem;
	justify-content: center;
}
.rate-controls button {
	box-sizing: border-box;
	/* background: var(--darkGrayGradientLeft); */
	background: linear-gradient(180deg, #6e6e72, #464647);
	border-radius: 6px;
	line-height: 0;
	padding: 0;
	position: relative;
	/* transition: box-shadow 50ms var(--ease-out-bezier); */
	transition: background 400ms ease-in-out;
	/* padding: 10px; */
	min-width: 30px;
}

.rate-controls button:hover {
	background: linear-gradient(180deg, hsl(240, 2%, 34%), hsl(240, 1%, 18%));
}

.rate-controls button > span {
	filter: drop-shadow(0 2px 8px rgb(0 0 0/50%));
	transition-duration: 0.2s;
	transition-property: filter, transform;
	transition-timing-function: var(--ease-out-bezier);
}

.icon {
	background-image: url(../assets/svg/sprite.svg);
	background-repeat: no-repeat;
	display: inline-block;
}
.rate-play {
	background-position: -322px -369px;
	width: 30px;
	height: 30px;
}
.paused {
	background-position: -414px -369px;

}
.increase {
	background-position: -60px -104px;
	width: 14px;
	height: 10px;
}
.decrease {
	background-position: -31px -104px;
	width: 13px;
	height: 10px;
}

#timeRate {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 50%);
	text-transform: uppercase;
}
